.spacer {
    padding: 5%;
}

.form_box {
    margin-left: 1rem;
    margin-right: 1rem;
    p {
        font-family: "Open Sans", sans-serif;
    }
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.form_box.fade{
    opacity: 1;
}

.form_box div {
    width: 100%;
    margin-top: 0.3rem;
    height: auto;
}

.login_text {
    font-size: 1rem;
    padding-top: 5%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 1px;
    font-family: "Open Sans", sans-serif;
}

.form_input {
    input {
        font-family: "Open Sans", sans-serif;
    }
}

.divider {
    display: flex;
    margin: auto;
    width: 90%;
    height: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.signin_buttons {
    width: 100%;
    display: flex;
    text-align: center;
    button {
        margin: auto;
        margin-top: 15%;
        width: 15rem;
        font-family: "Open Sans", sans-serif;
    }
}

.signin_buttons_secondary {
    width: 100%;
    display: flex;
    text-align: center;
    button {
        margin: auto;
        margin-top: 8%;
        width: 15rem;
        font-family: "Open Sans", sans-serif;
    }
}
