
.App_margin {
  padding-top: 56px;
}

.main_Main {
  height: 100%;
  width: 100%;
  padding-top: 0.1rem;
}

.statusbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 8rem;
  overflow: hidden;
}

.testDiv {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background: #6632cd;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.testDiv p {
  font-size: smaller;
  color: white;
  float:left;
  margin: 0;
  margin-left: 0.2rem;
}

.testDiv1 {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background: #00b7e4;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.testDiv1 p {
  font-size: smaller;
  float:left;
  margin: 0;
  margin-left: 0.2rem;
}

.testDiv2 {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background: #d2691e;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.testDiv2 p {
  font-size: smaller;
  color: white;
  float:left;
  margin: 0;
  margin-left: 0.2rem;
}

.Goaldiv {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background: #7ccb19;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Goaldiv img {
  margin: auto;
  height: 75%;
}

.Goaldiv p {
  font-size: smaller;
  float:left;
  margin: 0;
  margin-left: 0.2rem;
}

.meal_container {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 11rem;
  overflow: hidden;
}

.meal_container p {
  position: absolute;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  bottom: 0;
  margin: 0;
  background: white;
  height: 3rem;
  width: 100%;
}

.meal_container img {
  width: 100%;
}


.meal_popup {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.meal_popupElement {
  position: absolute;
  margin: auto;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 15px;
  height: 70%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  overflow: hidden;
}

.meal_popupBackground {
  position: relative;
  background: rgba(00, 00, 00, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.meal_popupElement p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.meal_popupElement img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 0% 0%;
}

.meal_popupElement svg {
  position: absolute;
  display: flex;
  margin: 6px;
  width: auto;
  height: 35px;
  color: white;
  right: 0;
}
