.setup_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.setup_main h1 {
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
}

.material_input {
    height: auto;
    width: 100%;
    input {
        font-family: "Open Sans", sans-serif;
    }
    select{
        font-family: "Open Sans", sans-serif;
        option{
            font-family: "Open Sans", sans-serif;
        }
    }
}

.material_input_spacing {
    margin-top: 1rem;
    width: 100%;
    select{
        font-family: "Open Sans", sans-serif;
        option{
            font-family: "Open Sans", sans-serif;
        }
    }
    legend{
        font-family: "Open Sans", sans-serif
    }
    span{
        font-family: "Open Sans", sans-serif
    }
}

.material_goal_input_spacing {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
    height: auto;
    padding-bottom: 0.2rem;
    #helpicon {
        margin: auto;
        color: #f7be10;
        height: 28px;
        width: auto;
        padding-left: 0.5rem;
        padding-top: 1.2rem;;
    }
    input {
        font-family: "Open Sans", sans-serif;
    }
}

.moreInfo {
    margin: auto;
}

.setup_button {
    margin-top: 25%;
    button {
        width: 15rem;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
    }
    
}