
.signinBox {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 45%;
    border-radius: 10px;
    position: fixed;

}

.form_input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.signin_form {
margin-top: 3rem;
}