.Login_nav-items ul {
    position:fixed;
    list-style: none;
    margin: 0.2rem;
    margin-left: 2rem;
    padding: 0;
    display: flex;
}

.toolbar_nav img {
    display: flex;
    float: right;
    width: auto;
    height: 40px;
    margin: auto;
    padding-top: 0.5rem;
    padding-left: 6rem;
}