
.spacer {
    padding: 2rem;
}

.form_box {
    margin-left: 1rem;
    margin-right: 1rem;
}

.form_box div{
    width: 100%;
    margin-top: 0.3rem;
}

.divider {
    margin-top: 4rem;
}

.signin_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_buttons button {
    margin-bottom: 1.5rem;
    width: 15rem;
}