
.spacer {
    padding: 1.5rem;
}

.form_box {
    margin-left: 1rem;
    margin-right: 1rem;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.signin_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_buttons button {
    margin-bottom: 1.5rem;
    width: 15rem;
}