.App_margin {
  padding-top: 56px;
}

.main_Main {
  height: 100%;
  width: 100%;
  padding-top: 0.1rem;
}

.statusbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 8rem;
}

.statusbar div {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 2px;;
  align-items: center;
  margin-left: 10px;
  background: yellowgreen;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.statusbar div img {
  margin: auto;
  height: 90%;

}

.meal_container {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 11rem;
  overflow: hidden;
}

.meal_container p {
  position: absolute;
  bottom: 0;
  margin: 0;
  background: white;
  height: 3rem;
  width: 100%;
}

.meal_container img {
  width: 100%;
}

.meal_background {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(00, 00, 00, 0.6);
  z-index: 30;
}

.meal_background p {
}

.meal_background div {
  background: white;
  border-radius: 15px;
  height: 35rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.meal_popup {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.meal_popupElement {
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 15px;
  height: 35rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  overflow: hidden;
}

.meal_popupBackground {
  position: relative;
  background: rgba(00, 00, 00, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.meal_popupElement img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 0% 0%;
}

.meal_popupElement svg {
  position: absolute;
  display: flex;
  margin: 6px;
  width: auto;
  height: 35px;
  color: white;
  right: 0;
}
