//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper{
    background: white;
    width: 100%;
    height: 100%;
}

.setup_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 22rem;
    margin: 0 auto;
}

.setup_text {
    align-self: flex-start;
    margin-top: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    font-family: 'Roboto';
    width: 100%;
    border-radius: 0 10px 0 0;
    background:rgb(78, 77, 182);
    text-indent: 5px;
}



.setup_dropdown {
margin-top: none;
width: 100%;
padding:1rem 0;
background: white;
color: black;
border-radius: 0 0 5px 5px;
outline: none;
box-shadow: none;
font-family: 'Roboto';
}

.setup_input {
 margin-top: none;
 width: 100%;
 padding: 1rem 0;
 background: white;
 border-radius:0 0 8px 8px;
 outline: none;
 box-shadow:none;
 box-sizing : border-box;
}

.setup_input::placeholder
{
    color: black;
    font-family: 'Roboto';
    text-indent: 5px;
}

.bmi_button {
 display: flex;
 justify-content: center;
 border-radius: 7px;
 align-items: center;
 margin-top: 2rem;
 width: 10rem;
 height: 3rem;
 background: #f7be10;
 color: black;
 font-family: 'Roboto';
 font-size: 20px;
 outline: none;
 box-shadow:none;
}


.bmi_button:hover {
 
    background:rgba(247, 190, 16, 0.6);
}

#height_lbs {
    display: none;
}