.setup_main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.setup_dropdown {

}

.setup_input {

}

.setup_button {
    
}

#height_lbs {
    display: none;
}