// SideDrawer
.side-drawer {
  height: 100vh;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.sidedraw-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  background: #f7be10;
}
.sidedraw-top img {
  margin-top: 1rem;
  height: 50px;
  width: auto;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-inline-start: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.side-drawer li {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.side-drawer svg {
  width: auto;
  height: 32px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
}

.side-drawer a {
  width: 100%;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  svg{
    &:active,
    &:hover{
    color: rgba(0, 0, 0, 0.6);
    }
  }
  li {
    &:active,
    &:hover{
    color: white;
    background: rgba(247, 190, 16, 0.8);
    }
  }
  
}

.current {
  svg {
    color: rgba(0, 0, 0, 0.6);
  }
  li {
    color: white;
    background: rgba(247, 190, 16, 0.8);
  }
}
