//Main Navigation strip

.toolbar {
    position: fixed;
    top: 0;
    width:100%;
    background: #f7be10;
    height: 56px;
}

.toolbar_nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo li {
     color: black;
     text-decoration: none;
     font-size: 1.5rem;
     list-style-type: none;
}

.spacer {
    flex: 1;
}

.toolbar_nav-items {
    visibility: hidden;
}


@media only screen and (min-width: 640px)  {

    .nav-drawer-button{
       visibility: hidden;
    }

    .toolbar_nav-items {
        visibility: visible;
    }


    .toolbar_nav-items ul {
        list-style: none;
        margin: 0.2rem;
        padding: 0;
        display: flex;
    }
    
    .toolbar_nav-items li {
        padding: 0 0.5rem;
        background-size: 40px;
    }
    
    .toolbar_nav-items a {
        color: white;
        text-decoration: none;
    }
    
    .toolbar_nav-items a:hover,
    .toolbar_nav-items a:active{
        color: orange;
    }

}